:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
  --Font-primary: "Big Shoulders Display", cursive;
  --font-secondary: "Lexend Deca", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Very-light-gray-background-headings-buttons);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 920px;
  font-size: 15px;
  background-color: var(--Very-light-gray-background-headings-buttons);
}

.sedans {
  background-color: var(--Bright-orange);
  padding: 49px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.suvs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 49px;
  background-color: var(--Dark-cyan);
}
.luxury {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 49px;
  background-color: var(--Very-dark-cyan);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content {
  color: var(--Transparent-white-paragraphs);
  font-family: var(--font-secondary);
  line-height: 1.5;
}
.button {
  padding: 14px 18px;
  background-color: var(--Very-light-gray-background-headings-buttons);
  margin-top: 50px;
  max-width: 147px;
  border: 1px solid white;
  border-radius: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.sedans-btn {
  color: var(--Bright-orange);
}
.suvs-btn {
  color: var(--Dark-cyan);
}
.luxury-btn {
  color: var(--Very-dark-cyan);
}
a {
  text-decoration: none;
  font-family: var(--font-secondary);
}
h1 {
  color: var(--Very-light-gray-background-headings-buttons);
  font-family: var(--Font-primary);
  font-size: 40px;
  font-stretch: condensed;
  font-weight: 400;
}

@media (max-width: 992px) {
  body {
    justify-content: stretch;
    align-items: stretch;
  }
  .container {
    flex-direction: column;
    margin: 80px 20px;
    justify-content: stretch;
    align-items: stretch;
  }
  .sedans {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    gap: 30px;
  }
  .luxury {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    gap: 30px;
  }
  .suvs {
    gap: 30px;
  }
  .button {
    margin-top: 0px;
  }
}
